<div class='container'>
  <div class="row" style="margin: 30px 0px ; margin-left: -200px;">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 ml-auto mr-auto text-left">
      <div class="page_title_box">
        <span class="page_title">
          <strong>商品編集</strong>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-10">
    <%= form_with model: @item , url: admin_item_path(@item) , method: :patch do |f| %>
      <div class="row">
        <div class="col-md-4" style="padding-left: 80px; margin-bottom: 10px;">
          <%= f.label :商品画像 %>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.file_field :image, autofocus: true ,class: "rounded"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 80px; margin-bottom: 10px;" >
          <%= f.label :商品名 %>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.text_field :name, autofocus: true, placeholder: "商品名" ,class: "rounded", style: "width: 50%;"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 80px; margin-bottom: 10px;">
          <%= f.label :商品説明 %>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.text_area :introduction, autofocus: true, placeholder: "ここに説明文を記述します" ,class: "rounded",  style: "width: 50%; height: 150px;"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 80px; margin-bottom: 10px;">
          <%= f.label :ジャンル %>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.select :genre_id, [["ケーキ", "1"], ["焼き菓子", "2"], ["プリン", "3"], ["キャンディ", "4"]], include_blank: "選択して下さい", style: "width: 60%;" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 80px; margin-bottom: 10px;">
          <%= f.label :商品価格 %>
        </div>
        <div class="col-md-8" style="margin-bottom: 20px;">
          <%= f.text_field :price, autofocus: true, placeholder: "1000" ,class: "rounded", style: "width: 50%;"%>円
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 80px; margin-bottom: 10px;">
          <%= f.label :販売ステータス %>
        </div>
        <div class="col-md-8" style="margin-bottom: 20px;">
          <%= f.radio_button :sale_status, :true ,checked: true%>販売中
          <%= f.radio_button :sale_status, :false %>販売停止中
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto", style="display: flex; justify-content: space-between;">
          <% if @customer == current_customer %>
            <%= f.submit '変更を保存', class: "btn btn-success", style: "padding: 3px 40px;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>