<div class='container'>
  <div class="row" style="margin: 30px 0px ; margin-left: -200px;">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 ml-auto mr-auto text-left">
      <div class="page_title_box">
        <span class="page_title">
          <strong>商品詳細</strong>
        </span>
      </div>
    </div>
  </div>
 <div class="container">
  <div class="row">
    <div class="col-md-3 ml-auto">
      <%= image_tag @item.image, size: "200x150" %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4">
          <label>商品名</label>
        </div>
        <div class="col-sm-8">
          <%= @item.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>商品説明</label>
        </div>
        <div class="col-sm-8">
          <%= @item.introduction %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>ジャンル名</label>
        </div>
        <div class="col-sm-8">
          <% if @item.genre_id == 1 %>
            ケーキ
          <% elsif @item.genre_id == 2 %>
            プリン
          <% elsif @item.genre_id == 3 %>
            焼き菓子
          <% elsif @item.genre_id == 4 %>
            キャンディ
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>税込価格<br>（税抜価格）</label>
        </div>
        <div class="col-sm-8 d-flex align-items-center">
          <%= number_with_delimiter((@item.price * 1.10).round) %>  (<%= number_with_delimiter(@item.price) %>)円
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>販売ステータス</label>
        </div>
        <div class="col-sm-8 <%= @item.sale_status ? 'text-success fw-bold' : 'text-secondary' %>">
          <% if @item.sale_status == true %>
            <strong>販売中</strong>
          <% else @item.sale_status == false %>
            販売停止中
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row mt-3">
    <div class="col-md-12 ml-auto" style="display: flex; justify-content: center;">
          <%= link_to '編集する', edit_admin_item_path(@item) ,class: "btn btn-success", style: "padding: 3px 40px;" %>
    </div>
  </div>