<div class='container'>
  <div class="row" style="margin: 30px 0px">
    <div class="col-md-10 offset-md-1">
      <div class="page_title_box">
        <span class="page_title">
          <strong>注文履歴詳細</strong>
        </span>
      </div>
    </div>
  </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-2">
            <label>購入者</label>
          </div>
          <div class="col-sm-4">
            <%= link_to @customer.last_name + @customer.first_name, admin_customer_path ,style: "color: black; text-decoration: underline;"%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>注文日</label>
          </div>
          <div class="col-sm-4">
            <%= @order_detail.created_at.strftime("%Y/%-m/%-d") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>配送先</label>
          </div>
          <div class="col-sm-4">
            <%= @order_detail.order.address %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>支払方法</label>
          </div>
          <div class="col-sm-4">
            <%= @order_detail.order.payment_method_i18n %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>注文ステータス</label>
          </div>
          <div class="col-sm-4">
            －　　　<%= link_to '更新', "#" ,class: "btn btn-success", style: "padding: 2px 10px;" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
      <table class='table'>
        <thead>
          <tr>
            <th bgcolor="#EEEEEE">商品名</th>
            <th bgcolor="#EEEEEE">単価（税込）</th>
            <th bgcolor="#EEEEEE">数量</th>
            <th bgcolor="#EEEEEE">小計</th>
            <th bgcolor="#EEEEEE">製作ステータス</th>
            <th bgcolor="#EEEEEE"></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= number_with_delimiter(order_detail.price) %></td>
              <td><%= order_detail.amount %></td>
              <td><%= number_with_delimiter(order_detail.price * order_detail.amount) %></td>
              <td>－</td>
              <td><%= link_to '更新', "#", class: "btn btn-success", style: "padding: 2px 10px;" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <label><strong>商品合計</strong></label>
            </div>
            <div class="col-md-8">
                <%= number_with_delimiter(@order_details_total) %>円
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label><strong>送料</strong></label>
            </div>
            <div class="col-md-8">
                <%= number_with_delimiter(@order_cost) %>円
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label><strong>請求金額合計</strong></label>
            </div>
            <div class="col-md-8">
                <strong><%= number_with_delimiter(@order_cost + @order_details_total) %>円</strong>
            </div>
        </div>
    </div>
</div>