<div class='container'>
  <div class="row" style="margin: 30px 0px ;">
    <div class="col-sm-12">
      <div class="page_title_box">
        <span class="page_title">
          <strong>注文情報入力</strong>
        </span>
      </div>
    </div>
  </div>
  <div>
    <%= form_with model: @order do |f| %>
    <h3><strong>支払方法</strong></h3>
    <div>
      <%= f.radio_button :payment_method, "credit_card" , checked:true %>
      <%= f.label :payment_method_credit_card, "クレジットカード" %></br>
      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method_transfer, "銀行振込" %>
    </div>
    <h3><strong>お届け先</strong></h3>
    <div>
      <%= f.radio_button :payment_method, "credit_card" , checked:true%>
      <%= f.label :payment_method_credit_card, "ご自身のご住所" %></br>
      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method_transfer, "登録済み住所から選択" %></br>
      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method_transfer, "新しい住所から選択" %>
    </div>
    <div class="text-center">
      <%= f.submit '確認画面へ進む' ,class: "btn btn-sm btn-primary" %>
    </div>
    <% end %>
  
  </div>