<div class='container'>
  <div class="row" style="margin: 30px 0px ; ">
    <div class="col-md-12">
      <div class="page_title_box d-flex align-items-center">
        <span class="page_title">
          <strong>注文履歴詳細</strong>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-6 mt-2'>
      <h5><strong>注文情報</strong></h5>
      <table class='table' border="1">
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">注文日</th><td style="border: 1px solid black;"><%= @order.created_at.strftime("%Y/%-m/%-d") %></td></tr>
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">配送先</th><td style="border: 1px solid black;">〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td></tr>
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">支払い方法</th><td style="border: 1px solid black;"><%= @order.payment_method_i18n %></td></tr>
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">ステータス</th><td style="border: 1px solid black;">-</td></tr>
      </table>
    </div>
    <div class='col-md-4 mt-2'>
      <h5><strong>請求情報</strong></h5>
      <table class='table' border="1" style="border: 1px solid black;">
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">商品合計</th><td style="border: 1px solid black;"><%= number_with_delimiter(@order_details_total) %></td></tr>
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">配送料</th><td style="border: 1px solid black;">800</td></tr>
        <tr><th bgcolor="#EEEEEE" style="border: 1px solid black;">ご請求額</th><td style="border: 1px solid black;"><%= number_with_delimiter(@order_details_total + 800) %></td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5><strong>注文内容</strong></h5>
      <table class='table'>
        <thead>
          <tr>
            <th bgcolor="#EEEEEE" style="border: 1px solid black;">商品</th>
            <th bgcolor="#EEEEEE" style="border: 1px solid black;">単価（税込）</th>
            <th bgcolor="#EEEEEE" style="border: 1px solid black;">個数</th>
            <th bgcolor="#EEEEEE" style="border: 1px solid black;">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td style="border: 1px solid black;"><%= order_detail.item.name %></td>
              <td style="border: 1px solid black;"><%= number_with_delimiter(order_detail.price) %></td>
              <td style="border: 1px solid black;"><%= order_detail.amount %></td>
              <td style="border: 1px solid black;"><%= number_with_delimiter(order_detail.price * order_detail.amount) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
 