<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@item.image, size: '250x200') %>
    </div>
    <div class="col-md-8">
      <div class="image-details", style="margin-top: 20px;">
        <%= form_with model: CartItem.new do |f| %>
        <div>
          <strong><%= @item.name %></strong><br>
          <%= @item.introduction %><br>
        </div>
        <div>
            <span style="font-weight: bold; font-size: larger;">
            ￥<%= number_with_delimiter((@item.price * 1.10).round) %>
            </span>(税込)
        </div>
        <div>
          <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit 'カートに入れる', class: "btn btn-success", style: "padding: 3px 20px;" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>